/* "Tamming" Box Model With Reset */

html { 
    box-sizing: border-box; 
  }
  *, *:before, *:after { 
    box-sizing: inherit;
}
  
  /* Universal Styles */
  
html {
    font-size: 18px;
  }
  
  body {
    font-family: "Helvetica", sans-serif;
    line-height: 1.4;
    color: white;
  }
  
  h1,
  h4 {
    font-weight: bold;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
}

/* Header Section */

header {
    background-color: black;
}

header .container {
    display: flex;
    align-items: center;
}

.logo {
    height: 1.5rem;
    padding-right: 1rem;
    padding-left: 0.5rem;
}

header p {
    padding: 0.66rem 0;
}

/* Banner Section */

.banner {
    background-image: url(../images/moto.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25rem;
}

.column {
    position: relative;
    top: 9rem;
    width: 20rem;
    background-color: black;
}

.column h4 {
    padding-top: 2rem;
    padding-left: 3rem;
    font-size: 1rem;
}

.column h1 {
    padding-left: 3rem;
    font-size: 2rem;
    padding-bottom: 1rem;
}